<div class="flex justify-center items-center h-[90vh]">
    <div class="bg-neutral-200 p-6 rounded-lg shadow-lg w-80">
      <div class="flex justify-center mb-4">
        <img src="https://i.pinimg.com/280x280_RS/79/dd/11/79dd11a9452a92a1accceec38a45e16a.jpg" alt="Profile Picture" class="rounded-full w-32 h-32 object-contain">
      </div>
      
      <div class="text-center">
        <h2 class="text-xl font-semibold text-neutral-800">Your Username</h2>
      </div>

      <div class="mt-6 flex justify-center">
        <button class="bg-neutral-800 text-white py-2 px-4 rounded-lg hover:bg-neutral-700 transition duration-200">
          Logout
        </button>
      </div>
    </div>
  </div>